@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,700");

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
/* убрали синюю рамку при фокусировке */
*:focus {
  outline: none;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header-home {
  height: 800px;
  background-image: url(img/slider-img.jpg);
  background-repeat: no-repeat;
}

.header-min {
  height: 360px;
  background-color: #f5f5f5;
}

.navbar {
  overflow: hidden;
  height: 90px;
}

.navbar .logo {
  margin-left: 98px;
  margin-top: 63px;
  display: inline-block;
  width: 185px;
  height: 22px;
}

.menu {
  float: right;
  margin-right: 21px;
  margin-top: 63px;
}

.menu ul {
  margin-left: -24px;
  overflow: hidden;
}

.menu li {
  float: left;
  list-style-type: none;
  margin-left: 24px;
}

.menu li a {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding-bottom: 7px;
}

.menu li a:hover {
  color: #212121;
  border-bottom: 3px solid #212121;
}

.fa-search {
  float: right;
  margin-top: 66px;
  margin-right: 167px;
  width: 23px;
  height: 23px;
  line-height: 3px;
  color: #000000;
}
.text-header {
  padding-top: 283px;
}
.text {
  width: 468px;
  padding-left: 98px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  letter-spacing: -2.5px;
}

.text h4 {
  color: #43a047;
  margin-bottom: 22px;
}

.text h2 {
  color: #212121;
  margin-bottom: 34px;
}

.header-min h2 {
  font-size: 62px;
  font-weight: 400;
  margin-left: 101px;
  margin-top: 171px;
  text-transform: initial;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.1px;
}
.text p {
  color: #6c6c6c;
  margin-bottom: 30px;
  margin-top: -5px;
}

.button {
  display: block;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  background: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  letter-spacing: 3.6px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 0;
}

.button-order {
  width: 212px;
  height: 45px;
}

.button-order i{
  display: none;
}

.button-order:hover i{
  display: block;
  float: right;
  margin-top: -30px;
  margin-right: 28px;
}

.button:active {
  box-shadow: none;
}

.navigation {
  margin-left: 623px;
  overflow: hidden;

  width: 130px;
  height: 50px;
  float: left;
}

.header-navigation {
  margin-top: 141px;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #212121;
  opacity: 0.2;
  border: 1px solid #212121;
  float: left;
  margin: 5px;
}

.circle:hover {
  opacity: 1;
  width: 40px;
  height: 40px;
  margin: 0px;
}

/*Второй блок featured-product*/
.featured-product {
  margin-top: 120px;
  margin-left: 98px;
  margin-right: 98px;
  height: 369px;
}

.tab-controll {
  float: left;
  padding-bottom: 18px;
  border-bottom: 1px solid #6c6c6c;
  height: 27px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 30px;
}
.tab-controll a {
  color: #6c6c6c;
  text-decoration: none;
  padding-bottom: 15px;
  float: left;
}

.tab-controll a:hover {
  color: #212121;
  border-bottom: 3px solid#212121;
}

.btn-ghost {
  float: right;
}

.btn-ghost a {
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 2.6px;
  text-decoration: none;
}

.tab-content {
  padding-top: 50px;
  /* overflow: hidden; */
  clear: both;
}

.tab-content ul {
  margin-right: -30px;
  overflow: hidden;
}

.tab-content ul li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
}

.tab-content a {
  display: block;
}

.content-hover {
  display: none;
  width: 268px;
  height: 268px;
  overflow: hidden;
  margin-bottom: -270px;
  border: 1px solid #9c9c9c;
}

.back-content:hover {
  opacity: 0.1;
  z-index: -1;
}

li:hover .content-hover {
  z-index: 0;
  display: block;
}
.content-hover .button {
  width: 48px;
  height: 48px;
  margin-top: 62px;
  margin-left: 111px;
}

.content-hover h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 10px;
  margin-top: 19px;
  margin-left: 63px;
  text-transform: none;
  letter-spacing: -1px;
}
.content-hover p {
  margin-top: 23px;
  text-align: center;
}

/*Третий блок promo-produc*/
.promo-product {
  margin-top: 120px;
  height: 683px;
}

.promo-content-1 {
  height: 683px;
  width: 683px;
  background: url(img/promo-img1.jpg) no-repeat;
  float: left;
}

.promo-content-2 {
  height: 683px;
  width: 683px;
  background: url(img/promo-img2.jpg) no-repeat;
  overflow: hidden;
}
.promo-product .exclusive-text {
  margin-top: 228px;
  margin-left: 50px;
}

.exclusive-text h4 {
  margin-bottom: 18px;
  color: #1e88e5;
}

.exclusive-text h3 {
  margin-bottom: 34px;
}

.exclusive-text p {
  margin-top: -17px;
  margin-bottom: 30px;
}

/*Четвертый блок   trending-products*/

.trending-products {
  margin-top: 119px;
  margin-left: 98px;
  margin-right: 97px;
}

.title h3 {
  display: inline-block;
}

.products {
  margin-top: 64px;
  overflow: hidden;
}

.products ul {
  margin: -30px 0 0 -30px;
  overflow: hidden;
}
.products ul li {
  list-style-type: none;
  float: left;
  margin: 30px 0 0 30px;
}

/*Пятый блок  hot-deal*/
.hot-deal {
  height: 800px;
  margin-top: 114px;
  background: url(img/slider.jpg) no-repeat;
}

.hot-text {
  padding-top: 288px;
}
.hot-text h4 {
  color: #e53935;
}

.hot-navigation {
  margin-top: 226px;
}

/* Шестой блок  exclusive-product  */

.exclusive-product {
  margin: 120px 98px;
  height: 570px;
}

.exclusive-block,
.exclusive-gallery {
  width: 570px;
  height: 570px;
}

.exclusive-block {
  background: url(img/product-1-lg.jpg);
  float: left;
  margin-right: 30px;
}
.exclusive-block .exclusive-text {
  margin-top: 186px;
  margin-left: 30px;
}

.exclusive-gallery {
  overflow: hidden;
}

.exclusive-gallery ul {
  margin: 0 -30px -30px 0;
  overflow: hidden;
}

.exclusive-gallery ul li {
  list-style-type: none;
  float: left;
  margin: 0 30px 30px 0;
}

/*Седьмой блок mobile-app*/

.mobile-app {
  height: 516px;
  background: url(img/back-img.jpg);
}
.mobile-text {
  padding-top: 125px;
}

.mobile-text h2 {
  line-height: 70px;
  margin-top: -15px;
  letter-spacing: -3px;
  margin-bottom: 20px;
}
.mobile-text p {
  font-size: 22px;
  letter-spacing: -0.3px;
}
.store {
  margin-left: 88px;
  margin-top: 33px;
  overflow: hidden;
}
.store a {
  float: left;
  margin-left: 10px;
}

/* Восьмой блок footer */
.footer {
  height: 384px;
  background-color: #f7f7f7;
}

.footer-top {
  padding-top: 120px;
  overflow: hidden;
}

.footer-top h4 {
  color: #6c6c6c;
}

.contact-information {
  margin-left: 97px;
  float: left;
}

.contact-information p {
  margin-top: 20px;
  height: 102px;
  width: 221px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.useful-information {
  margin-left: 80px;
  float: left;
  margin-right: -103px;
}
.information-links {
  float: left;
  margin-top: 18px;
}

.useful-information a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  display: block;
  margin-right: 103px;
}

.subscribe-information {
  float: left;
  margin-left: 80px;
  overflow: hidden;
}

.subscribe-information p {
  margin-top: 20px;
}

.subscribe-information form {
  margin-top: 18px;
}
.search {
  width: 370px;
  border: 1px solid #d9dee1;
}

.subscribe-information input[type="text"] {
  height: 45px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding-left: 19px;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
}
.fa-telegram-plane {
  float: right;
  margin: 12px;
  font-size: x-large;
  color: #6c6c6c;
}

.footer-bottom {
  margin-left: 97px;
  margin-top: 60px;
  overflow: hidden;
}

.footer-bottom * {
  float: left;
  color: #6c6c6c;
}
.social-link {
  margin-left: 138px;
  color: #6c6c6c;
}
.footer-bottom a {
  text-decoration: none;
}

.terms {
  margin-left: 172px;
}
.social-link a {
  font-size: 30px;
  padding: 3px;
}

.copyright,
.terms {
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

/* Стили для interior-product-details
 */

.products-details {
  height: 793px;
}

.links {
  height: 70px;
  background-color: #f4f4f4;
  padding-left: 360px;
  margin-top: 28px;
  overflow: hidden;
}

.links ul {
  overflow: hidden;
  margin-top: 25px;
  margin-left: -29px;
}
.links ul li {
  float: left;
  list-style-type: none;
  margin-left: 29px;
}
.links li a {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.links li a:hover {
  color: #212121;
}

.product-block {
  overflow: hidden;
  margin-left: 98px;
}

.product-slider,
.product-description {
  height: 723px;
  float: left;
}
.image-slider {
  width: 570px;
  height: 570px;
}

.controll-slider {
  width: 230px;
  height: 71px;
}

.image-slider {
  margin-top: 72px;
}

.controll-slider {
  margin-top: 10px;
  margin-left: 150px;
}

.controll-slider ul {
  overflow: hidden;
  margin-right: -10px;
}
.controll-slider ul li {
  float: left;
  list-style-type: none;
  width: 70px;
  height: 71px;
  margin-right: 10px;
}

.product-description {
  width: 510px;
  margin-left: 56px;
}

.haedlinse * {
  text-align: center;
}
.haedlinse {
  margin-bottom: 26px;
}

.product-description h3 {
  margin-top: 119px;
}

.product-description h4 {
  margin-top: 23px;
  color: #e53935;
}

.product-description h2 {
  margin-top: 36px;

  font-weight: 300;
  line-height: 48.02px;
  font-size: 36px;
  text-transform: none;
}
.price {
  font-size: 72px;
  text-transform: uppercase;
}
.product-description p {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1px;
}

.button-big {
  width: 510px;
  height: 71px;
  background: #f44336;
  color: #ffffff;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 4.4px;
}

.button-big:hover i{
  display: block;
  float: right;
  margin-top: -60px;
  margin-right: 155px;
}

.related-products {
  margin-top: 245px;
  margin-bottom: 120px;
  margin-left: 98px;
  margin-right: 98px;
}

.locations {
  overflow: hidden;
  padding: 71px 98px 122px;
}
.locations ul {
  margin-left: -30px;
}

.location {
  float: left;
  list-style-type: none;

  outline: 1px solid #9c9c9c;
  background-color: #ffffff;
  opacity: 0.9;
  width: 370px;
  height: 370px;
  margin-left: 30px;
}

a .fa-map-marker-alt {
  color: #212121;
  margin-top: 48px;
  margin-left: 166px;
}

.location h4 {
  text-align: center;
  margin-top: 34px;
}
.location p {
  text-align: center;
  margin-top: 23px;
  line-height: 18px;
}

.location span {
  display: block;
}

.location .gray {
  color: #6c6c6c;
}

.location .thick {
  font-weight: 700;
}

.tab-products {
  overflow: hidden;
  margin-top: 71px;
  margin-left: 95px;
  height: 13px;
  padding-bottom: 21px;
}

.tab-products ul {
  float: left;
}
.tab-products li {
  list-style-type: none;
  float: left;
  margin-bottom: 19px;
  border-bottom: 1px solid #6c6c6c;
}
.tab-products a {
  float: left;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6c6c6c;
  letter-spacing: 1px;
  text-decoration: none;
  padding-bottom: 16px;
}
.tab-products a:hover {
  color: #212121;
  border-bottom: 3px solid#212121;
}

.product-range{
  margin-top: 50px;
  margin-left: 98px;
}

a .fa-sync-alt{
  margin-top: 51px;
  margin-left: 672px;
  margin-bottom: 20px;
  color: #212121;
}